@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-family: Roboto, sans-serif;
    background-color: #F9FAF8;
}

body {
    padding: 0;
    margin: 0;
}

.section1 {
    background-color: #1F2937;
}

.header, .hero, .random, .cta {
    max-width: 950px;
    padding: 0px 24px;
    margin: auto;
}

.quote {
    max-width: 750px;
    padding: 0px 24px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2, .cta-left h1 {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header ul li, .hero-left p, .hero-right, .cta-left p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    padding: 100px 0px;
    display: flex;
    gap: 48px;
}

.hero-left, .hero-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-left {
    align-items: start;
}

.hero-right {
    align-items: center;
    background-color: grey;
}

.hero-left h1 {
    font-size: 48px;
    color: #F9FAF8;
    margin: 0;
}

.hero-left button {
    padding: 8px 24px;
    border: none;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 600;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
    align-items: center;
}

.section2 {
    background-color: #F9FAF8;
}

.random {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 16px 96px 16px;
    gap: 24px;
}

.random h2 {
    font-size: 36px;
    color: #1F2937;
}

.box-and-text-container {
    display: flex;
    gap: 48px;
}

.image-box {
    border: 3px solid #3882F6;
    border-radius: 16px;
    height: 150px;
    width: 150px;
}

.box-and-text {
    width: 150px;
    text-align: center;
}

.section3 {
    background-color: #E5E7EB;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
}

.quote h1 {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.quote p {
    font-weight: bold;
    text-align: right;
}

.cta {
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 48px 100px;
    margin: 48px auto;
}

.cta-left {
    flex: 5 1 auto;
}

.cta-left * {
    margin: 0;
    padding: 0;
}

.cta-right{
    flex: 1 1 auto;
}

.cta-right button {
    border: 2px solid #F9FAF8;
    background-color: transparent;
    padding: 8px 24px;
    border-radius: 8px;
    color: #F9FAF8;
    font-weight: 600;
}